__pycache__
*.pt
*.json
*.csv
runs/
weights/
env/
wandb/
check.ipynb
transformer.zip
transformer_2.zip
validation_log.txt
train.ipynb
v4 (v6 on kaggle)/run-gw1sqh1m.wandb
transformer_v5.zip
transformer_v4.zip
*.zip

wandb/
env/
v4 (v6 on kaggle)/
*.ipynb
*.zip
*.txt
